App: # APP基础设置项
  BarkToken: 
  AttachmentIncomeRate: 0.8
  MaxCommentCount: 10
  DefaultContextTimeout: 60
  DefaultPageSize: 10
  MaxPageSize: 100
  SmsJuheKey: 
  SmsJuheTplID: 
  SmsJuheTplVal: "#code#=%d&#m#=%d"
  AlipayAppID:
  AlipayPrivateKey:
Server: # 服务设置
  RunMode: debug
  HttpIp: 0.0.0.0
  HttpPort: 8008
  ReadTimeout: 60
  WriteTimeout: 60
Log: # 日志
  LogType: zinc # 可选file或zinc
  LogFileSavePath: storage/logs
  LogFileName: app
  LogFileExt: .log
  LogZincHost: http://127.0.0.1:4080/es/_bulk
  LogZincIndex: paopao-log
  LogZincUser: admin
  LogZincPassword: admin
JWT: # 鉴权加密
  Secret: 18a6413dc4fe394c66345ebe501b2f26
  Issuer: paopao-api
  Expire: 86400
Search: # 搜索配置
  ZincHost: http://127.0.0.1:4080
  ZincIndex: paopao-data
  ZincUser: admin
  ZincPassword: admin
Storage: # 阿里云OSS存储配置
  AliossAccessKeyID: 
  AliossAccessKeySecret: 
  AliossEndpoint: 
  AliossBucket: 
  AliossDomain: 
Database: # 数据库
  DBType: mysql
  Username: root # 填写你的数据库账号
  Password: root # 填写你的数据库密码
  Host: 127.0.0.1:3306
  DBName: paopao
  TablePrefix: p_
  Charset: utf8mb4
  ParseTime: True
  LogLevel: 2
  MaxIdleConns: 10
  MaxOpenConns: 30
Redis:
  Host: 127.0.0.1:6379
  Password: 
  DB: 